.button{
  margin-top: 16px;
      font-weight: 500;
      height: 50px;
      border-radius: 8px;
      background: #835AF8;
      color: #FFF;
      padding: 0 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      cursor: pointer;
      transition: filter 0.2s;

      img{
        margin-right: 8px;
      }

      &:not(:disabled):hover{
        filter: brightness(0.9);
      }

      &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
      }
}